{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Edit Event</h1>

                {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('event_index') }}">back to list</a>

                {{ include('event/_delete_form.html.twig') }}

                {% if event.scrutineer==null %}
                <h2>Directori de concurs</h2>
                {% for ceremonymaster in ceremonymasters %}
                    <a href="{{ path('event_editCeremonymaster', {'cmId': ceremonymaster.id, 'id': event.id}) }}">
                        <li>{{ ceremonymaster.name }} {{ ceremonymaster.surname }}</li>
                    </a>
                {% endfor %}
                {% endif %}
                <br />
                {% if event.president==null %}
                <h2>Presedinti de juriu</h2>
                {% for chairperson in chairpersons %}
                    <a href="{{ path('event_editChairperson', {'cmId': chairperson.id, 'id': event.id}) }}">
                        <li>{{ chairperson.name }} {{ chairperson.surname }}</li>
                    </a>
                {% endfor %}
                {% endif %}

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
            });

        });
    </script>

{% endblock %}