{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Create new Event</h1>

                {{ include('event/_form.html.twig') }}

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
            });

        });
    </script>

{% endblock %}