{% extends 'base.html.twig' %}

{% block title %}Hello PresidentMenuController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
        <div class="row">

            <div class="col">

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="example-wrapper">
                    <h1>Meniu Presedinte de Juriu</h1>

                    Alegeti o actiune:
                    <ul>
                        <li><a href="{{ path('president_get_events',{'id':app.user.id}) }}">Evenimente</a></li>
                        <li><a href="{{ path('judge_index') }}">Meniu Arbitrii</a></li>

                    </ul>
                </div>

            </div>

        </div>
    </div>

{% endblock %}
