{% extends 'base.html.twig' %}

{% block title %}Chairperson Menu{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}


                <div class="example-wrapper">

                    <h1>{{ competition.name }}</h1>
                    <ul>

                        <li>
                            <a href=" {{ path('president_comp_judges', {'cid': competition.id, 'pid': president.id}) }}">
                                Adauga arbitrii pentru aceasta competitie
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('president_comp_criterias', {'cid': competition.id, 'pid': president.id}) }}">
                                Adauga criterii de arbitraj
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('president_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>
                <a href="{{ path('president_get_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a> <br> <br>
                <a href="{{ path('president_get_competitions_event', {'eid': competition.event.id, 'pid': president.id}) }}" class="slow m-3" hidden>Meniu Eveniment</a> <br> <br>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();
            $("a.normal").hide();
            $("a.slow").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
                $("a.normal").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.slow").removeAttr("hidden");
                $("a.slow").slideToggle("slow");
            });

        });
    </script>

{% endblock %}