{% extends 'base.html.twig' %}

{% block title %}Scrutineer Menu{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-10">

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('scrutineer_logoff', {'logoff': app.user.id}) }}">Logout</a>
                    </div>
                {% endif %}


                <div class="example-wrapper">
                    <h1>Evenimente</h1>


                    <ul>
                        {% for event in events %}
                            <li><a href="{{ path('scrutineer_set_active_event',{id: event.id}) }} ">{{ event }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('scrutineer_menu') }}" class="very-fast m-3" hidden>Prima pagina.</a> <br> <br>
                <a href="{{ path('scrutineer_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.normal").hide();
            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.normal").removeAttr("hidden");
                $("a.very-fast").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.very-fast").slideToggle(50);
            });
        });
    </script>

{% endblock %}