{% extends 'base.html.twig' %}

{% block title %}Scrutineer Menu{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-12">

                <!--<div class="example-wrapper">-->
                    <h1 class="text-center m-4 p-4">{{ competition }}</h1>
                    <h2 class="text-center m-4 p-4">{{ competitor }}</h2>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">JUDGE</th>
                            {% for crit in criterias %}
                                <th scope="col">{{ crit.name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>

                            {% for judge in judges %}
                            <tr>
                                <td>{{ judge }}</td>
                                {% for crit in criterias %}
                                    {% for grade in grades %}
                                        {% if grade.criteria == crit and grade.judge == judge %}
                                            <td scope="col">{{ grade.value }}</td>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div class="text-right">
                        <h3>Rezultat final {{ result.value }} puncte</h3>
                    </div>

                    <div>
                        <p>Criterii de arbitraj:</p>
                        <ul>
                            {% for crit in criterias %}
                                <li>{{ crit.name }} = {{ crit.procent }} %</li>
                            {% endfor %}
                        </ul>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </div>

{% endblock %}