{% extends 'base.html.twig' %}

{% block title %}Scrutineer Menu{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="example-wrapper">
                    <h1 class="text-center m-4 p-4">{{ competition }}</h1>

                    <table class="table">
                        <thead>

                        <tr>
                            <th scope="col">Loc</th>
                            <th scope="col">Concurent</th>
                            <th scope="col">Punctaj</th>
                        </tr>

                        </thead>
                        <tbody>

                        {% for result in results %}
                            <tr>
                                <td>{{ result.place }}</td>
                                <td>{{ result.competitor }}</td>
                                <td>{{ result.value }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}