{% extends 'base.html.twig' %}

{% block title %}Scrutineer Menu{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-10">


                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('scrutineer_logoff', {'logoff': app.user.id}) }}">Logout</a>
                    </div>
                {% endif %}


                <div class="example-wrapper">
                    <h1>Competitie</h1>

                    <ul>

                            <li><a href="{{ path('competition_index',{id: event.id}) }} ">Meniu competitii</a></li>

                    </ul>
                </div>
                <div class="example-wrapper">
                    <h2>Concurenti</h2>

                    <ul>
                            <li><a href="{{ path('import_csv_file_new') }} ">Importa concurenti din fisier CSV</a></li>
                            <li><a href="{{ path('competitor_index') }} ">Editeaza concurenti</a></li>
                            <li><a href="{{ path('scrutineer_clear_competitors') }} ">Sterge toti concurentii</a></li>

                    </ul>
                </div>

                <div class="example-wrapper">
                    <h2>Rezultate</h2>

                    <ul>

                        <li><a href="{{ path('scrutineer_competitions_result', {'eventid':event.id }) }}">Competitii</a></li>

                    </ul>
                </div>

                <div class="example-wrapper">
                    <h2>Fisier inscrieri</h2>

                    <ul>
                        <li>
                            <a href="{{ path('scrutineer_registration_file',{'eventid':event.id}) }}" download>Descarca fisier CSV</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('scrutineer_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>
                <a href="{{ path('scrutineer_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a> <br> <br>
                <a href="{{ path('scrutineer_set_active_event',{id: event.id}) }}" class="slow m-3" hidden>Meniu Scrutineer</a>

            </div>


        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.normal").hide();
            $("a.slow").hide();
            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.normal").removeAttr("hidden");
                $("a.slow").removeAttr("hidden");
                $("a.very-fast").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.slow").slideToggle("slow");
                $("a.very-fast").slideToggle(50);
            });
        });
    </script>

{% endblock %}