{% extends 'base.html.twig' %}

{% block title %}Hello InitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Multi Bilingual Forms</h1>

    Alegeti functia:
    <ul>
        <li><a href='{{ path('app_login') }}'>Administrator</a></li>
        <li><a href="{{ path('scrutineer_login') }}">Scrutineer</a></li>
        <li><a href="{{ path('president_login') }}">Chairperson</a></li>
        <li><a href="{{ path('judge_login') }}">Judge</a></li>
    </ul>
</div>
{% endblock %}
