<form method="post" action="{{ path('import_csv_file_delete', {'id': import_csv_file.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ import_csv_file.id) }}">
    <button class="btn">Delete</button>
</form>
