{% extends 'base.html.twig' %}

{% block title %}Edit ImportCsvFile{% endblock %}

{% block body %}
    <h1>Edit ImportCsvFile</h1>

    {{ include('import_csv_file/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('import_csv_file_index') }}">back to list</a>

    {{ include('import_csv_file/_delete_form.html.twig') }}
{% endblock %}
