{% extends 'base.html.twig' %}

{% block title %}ImportCsvFile index{% endblock %}

{% block body %}
    <h1>ImportCsvFile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for import_csv_file in import_csv_files %}
            <tr>
                <td>{{ import_csv_file.id }}</td>
                <td>{{ import_csv_file.filename }}</td>
                <td>
                    <a href="{{ path('import_csv_file_show', {'id': import_csv_file.id}) }}">show</a>
                    <a href="{{ path('import_csv_file_edit', {'id': import_csv_file.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('import_csv_file_new') }}">Create new</a>
{% endblock %}
