{% extends 'base.html.twig' %}

{% block title %}New ImportCsvFile{% endblock %}

{% block body %}
    <h1>Create new ImportCsvFile</h1>

    {{ include('import_csv_file/_form.html.twig') }}

    <a href="{{ path('import_csv_file_index') }}">back to list</a>
{% endblock %}
