{% extends 'base.html.twig' %}

{% block title %}ImportCsvFile{% endblock %}

{% block body %}
    <h1>ImportCsvFile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ import_csv_file.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ import_csv_file.filename }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('import_csv_file_index') }}">back to list</a>

    <a href="{{ path('import_csv_file_edit', {'id': import_csv_file.id}) }}">edit</a>

    {{ include('import_csv_file/_delete_form.html.twig') }}
{% endblock %}
