<form method="post" action="{{ path('scrutineer_delete', {'id': scrutineer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scrutineer.id) }}">
    <button class="btn">Delete</button>
</form>
