{% extends 'base.html.twig' %}

{% block title %}Competitors{% endblock %}

{% block body %}


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('scrutineer_logoff', {'logoff': app.user.id}) }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-12">


    <h1>Concurenti</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nume1</th>
            <th>Nume2</th>
            <th>Code</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr>
                <td>{{ competitor.name1 }}</td>
                <td>{{ competitor.name2 }}</td>
                <td>{{ competitor.code }}</td>
                <td>{{ competitor.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br />
                <a href="{{ path('scrutineer_menu') }}">Inapoi la Meniu</a>
    <br />

            </div>
        </div>
    </div>

{% endblock %}
