{% extends 'base.html.twig' %}

{% block title %}Edit Scrutineer{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Edit Scrutineer</h1>

                {{ include('scrutineer/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('scrutineer_index') }}">back to list</a>

                {{ include('scrutineer/_delete_form.html.twig') }}

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}
