{% extends 'base.html.twig' %}

{% block title %}Scrutineer index{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Scrutineer index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <!--<th>Roles</th>
                            <th>Password</th>-->
                            <th>Name</th>
                            <th>Surname</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for scrutineer in scrutineers %}
                        <tr>
                            <td>{{ scrutineer.id }}</td>
                            <td>{{ scrutineer.email }}</td>
                            <!--<td>{# scrutineer.roles ? scrutineer.roles|json_encode : '' #}</td>
                            <td>{# scrutineer.password #}</td>-->
                            <td>{{ scrutineer.name }}</td>
                            <td>{{ scrutineer.surname }}</td>
                            <td>
                                <a href="{{ path('scrutineer_show', {'id': scrutineer.id}) }}">show &nbsp;</a>
                                <a href="{{ path('scrutineer_edit', {'id': scrutineer.id}) }}">&nbsp; edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('scrutineer_new') }}">Create new</a>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}
