{% extends 'base.html.twig' %}

{% block title %}Scrutineer{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Scrutineer</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ scrutineer.id }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ scrutineer.email }}</td>
                        </tr>
                        <!--<tr>
                            <th>Roles</th>
                            <td>{# scrutineer.roles ? scrutineer.roles|json_encode : '' #}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{# scrutineer.password #}</td>
                        </tr>-->
                        <tr>
                            <th>Name</th>
                            <td>{{ scrutineer.name }}</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>{{ scrutineer.surname }}</td>
                        </tr>
                    </tbody>
                </table>

                <a href="{{ path('scrutineer_index') }}">back to list &nbsp;</a>

                <a href="{{ path('scrutineer_edit', {'id': scrutineer.id}) }}">&nbsp; edit</a>

                {{ include('scrutineer/_delete_form.html.twig') }}

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}
