{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Admin index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <!--<th>Roles</th>
                            <th>Password</th>-->
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for admin in admins %}
                        <tr>
                            <td>{{ admin.id }}</td>
                            <td>{{ admin.name }}</td>
                            <!--<td>{# admin.roles ? admin.roles|json_encode : '' #}</td>
                            <td>{# admin.password #}</td>-->
                            <td>
                                <a href="{{ path('admin_show', {'id': admin.id}) }}">show &nbsp;</a>
                                <a href="{{ path('admin_edit', {'id': admin.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('admin_new') }}">Create new</a>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function(){

        $("a.very-fast").hide();

        // Toggles paragraphs with different speeds
        $(".toggle-btn").click(function(){
            $("a.very-fast").removeAttr("hidden");
            $("a.very-fast").slideToggle(50);
        });

    });
</script>

{% endblock %}