{% extends 'base.html.twig' %}

{% block title %}Admin Menu{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="example-wrapper">
        <h1>Meniu</h1>

        Alegeti o actiune:
        <ul>
            <li><a href='{{ path('admin_index') }}'>Meniu Admin</a></li>
            <li><a href='{{ path('event_index') }}'>Meniu Eveniment</a></li>
            <li><a href='{{ path('president_index') }}'>Meniu Presedinte de Juriu</a></li>
            <li><a href='{{ path('scrutineer_index') }}'>Meniu Director de Concurs</a></li>
        </ul>
    </div>
{% endblock %}