{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Admin</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ admin.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ admin.name }}</td>
                        </tr>
                        <!--<tr>
                            <th>Roles</th>
                            <td>{# admin.roles ? admin.roles|json_encode : '' #}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{# admin.password #}</td>
                        </tr>-->
                    </tbody>
                </table>

                <a href="{{ path('admin_index') }}">back to list &nbsp;</a>

                <a href="{{ path('admin_edit', {'id': admin.id}) }}">&nbsp; edit</a>

                {{ include('admin/_delete_form.html.twig') }}

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
            });

        });
    </script>

{% endblock %}