{% extends 'base.html.twig' %}

{% block title %}Hello JudgeMenuController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <div class="example-wrapper">
                    <h1>Selectati competitia:</h1>

                    <ul>
                        {% for competition in competitions %}
                            <li>
                                <a href="{{ path('judge_menu_competitors',
                                {'competitionid': competition.id, 'judgeid': app.user.id}) }}">
                                    {{ competition.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

           <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{  path('judge_menu') }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}
