{% extends 'base.html.twig' %}

{% block title %}Hello JudgeMenuController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="example-wrapper">

                    <form method="post" action="{{ path('judge_menu_getGrades',
                            {'compid': competitionid, 'judgeid': judgeid, 'athletid': athletid}) }}">
                        {% for criteria in criterias %}
                            <label>{{ criteria.name }}</label><br>
                            <input type="number" name="{{ criteria.id }}" min="1" max="10" step="0.01" required><br>
                        {% endfor %}
                        <br>
                        <input type="submit" value="Submit">
                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
