{% extends 'base.html.twig' %}

{% block title %}Hello JudgeMenuController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="container">
    <div class="row">
        <div class="col">


<div class="example-wrapper">
    <h1>Selectati evenimentul:</h1>

    <ul>
        {% for event in events %}
            <li>
                <a href="{{ path('judge_menu_competitions', {'eventid': event.id ,'judgeid': app.user.id}) }}">
                    {{ event.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


        </div>
    </div>
</div>

{% endblock %}
