<form method="post" action="{{ path('competition_delete', {'id': competition.id,'eventid':event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competition.id) }}">
    <button class="btn">Delete</button>
</form>
