{% extends 'base.html.twig' %}

{% block title %}Competition index{% endblock %}

{% block body %}


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('scrutineer_logoff', {'logoff': app.user.id}) }}">Logout</a>
        </div>
    {% endif %}


    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-10">

                <h1>Competition index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Category</th>
                            <th>Code</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for competition in competitions %}
                        <tr>
                            <td>{{ competition.id }}</td>
                            <td>{{ competition.name }}</td>
                            <td>{{ competition.age }}</td>
                            <td>{{ competition.category }}</td>
                            <td>{{ competition.code }}</td>
                            <td>
                                <a href="{{ path('competition_show', {'id': competition.id, 'eventid' : event.id}) }}">show &nbsp;</a>
                                <a href="{{ path('competition_edit', {'id': competition.id, 'eventid': event.id}) }}">&nbsp; edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('competition_new', {'id': event.id}) }}">Create new</a>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('scrutineer_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>
                <a href="{{ path('scrutineer_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a> <br> <br>
                <a href="{{ path('scrutineer_set_active_event',{id: event.id}) }}" class="slow m-3" hidden>Meniu Scrutineer</a>

            </div>


        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.normal").hide();
            $("a.slow").hide();
            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.normal").removeAttr("hidden");
                $("a.slow").removeAttr("hidden");
                $("a.very-fast").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.slow").slideToggle("slow");
                $("a.very-fast").slideToggle(50);
            });
        });
    </script>

{% endblock %}