{% extends 'base.html.twig' %}

{% block title %}Competition{% endblock %}

{% block body %}

     {% if app.user %}
         <div class="mb-3">
             You are logged in as {{ app.user.username }}, <a href="{{ path('scrutineer_logoff', {'logoff': app.user.id}) }}">Logout</a>
         </div>
     {% endif %}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">

            <h1>Competition</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ competition.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ competition.name }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ competition.age }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ competition.category }}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>{{ competition.code }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('competition_index',{'id': event.id}) }}">back to list &nbsp;</a>

            <a href="{{ path('competition_edit', {'id': competition.id, 'eventid': event.id}) }}">&nbsp; edit</a>

            {{ include('competition/_delete_form.html.twig') }}

        </div>

        <div class="col-sm-12 col-md-2">

            <button type="button" class="toggle-btn">Meniu</button> <br> <br>

            <a href="{{ path('scrutineer_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>
            <a href="{{ path('scrutineer_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a> <br> <br>
            <a href="{{ path('scrutineer_set_active_event',{id: app.user.activate}) }}" class="slow m-3" hidden>Meniu Scrutineer</a>

        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.normal").hide();
            $("a.slow").hide();
            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.normal").removeAttr("hidden");
                $("a.slow").removeAttr("hidden");
                $("a.very-fast").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.slow").slideToggle("slow");
                $("a.very-fast").slideToggle(50);
            });
        });
    </script>

{% endblock %}