<form method="post" action="{{ path('criteria_delete', {'id': criterion.id,'presid':president.id,'eveid':event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ criterion.id) }}">
    <button class="btn">Delete</button>
</form>
