{% extends 'base.html.twig' %}

{% block title %}Criteria index{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Criteria index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Procent</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for criterion in criterias %}
                        <tr>
                            <td>{{ criterion.id }}</td>
                            <td>{{ criterion.name }}</td>
                            <td>{{ criterion.procent }}</td>
                            <td>
                                <a href="{{ path('criteria_show',
                                            {'id': criterion.id, 'presid':president.id, 'eveid': event.id}) }}">show &nbsp;
                                </a>
                                <a href="{{ path('criteria_edit',
                                            {'id': criterion.id,'preid':president.id, 'eveid': event.id}) }}">&nbsp; edit
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('criteria_new',{'pid':president.id, 'eid': event.id}) }}">Create new</a>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('president_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>
                <a href="{{ path('president_get_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a> <br> <br>
                <a href="{{ path('president_get_competitions_event', {'eid': event.id, 'pid': president.id}) }}" class="slow m-3" hidden>Meniu Eveniment</a>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();
            $("a.normal").hide();
            $("a.slow").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
                $("a.normal").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.slow").removeAttr("hidden");
                $("a.slow").slideToggle("slow");
            });

        });
    </script>

{% endblock %}