{% extends 'base.html.twig' %}

{% block title %}Criteria{% endblock %}

{% block body %}

     {% if app.user %}
         <div class="mb-3">
             You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
         </div>
     {% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10">

            <h1>Criteria</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ criterion.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ criterion.name }}</td>
                    </tr>
                    <tr>
                        <th>Procent</th>
                        <td>{{ criterion.procent }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('criteria_index',{'pid': president.id, 'eid': event.id}) }}">back to list &nbsp;</a>

            <a href="{{ path('criteria_edit',
                        {'id': criterion.id, 'preid':president.id, 'eveid':event.id}) }}">&nbsp; edit</a>

            {{ include('criteria/_delete_form.html.twig') }}

        </div>

        <div class="col-sm-12 col-md-2">

            <button type="button" class="toggle-btn">Meniu</button> <br> <br>

            <a href="{{ path('president_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>
            <a href="{{ path('president_get_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a> <br> <br>
            <a href="{{ path('president_get_competitions_event', {'eid': event.id, 'pid': president.id}) }}" class="slow m-3" hidden>Meniu Eveniment</a>

        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();
            $("a.normal").hide();
            $("a.slow").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
                $("a.normal").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.slow").removeAttr("hidden");
                $("a.slow").slideToggle("slow");
            });

        });
    </script>

{% endblock %}