{% extends 'base.html.twig' %}

{% block title %}Edit Judge{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-10">

            <h1>Edit Judge</h1>

            {{ include('judge/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('judge_index') }}">back to list</a>

            {{ include('judge/_delete_form.html.twig') }}

        </div>

        <div class="col-sm-12 col-md-2">

            <button type="button" class="toggle-btn">Meniu</button> <br> <br>

            <a href="{{ path('president_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>

        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
            });

        });
    </script>

{% endblock %}