{% extends 'base.html.twig' %}

{% block title %}Judge index{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10">

                <h1>Judge index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for judge in judges %}
                        <tr>
                            <td>{{ judge.id }}</td>
                            <td>{{ judge.email }}</td>
                            <td>{{ judge.name }}</td>
                            <td>{{ judge.surname }}</td>
                            <td>
                                <a href="{{ path('judge_show', {'id': judge.id}) }}">show &nbsp;</a>
                                <a href="{{ path('judge_edit', {'id': judge.id}) }}">&nbsp; edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('judge_new') }}">Create new</a>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('president_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
            });

        });
    </script>

{% endblock %}