{% extends 'base.html.twig' %}

{% block title %}Judge{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-10">

            <h1>Judge</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ judge.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ judge.email }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ judge.name }}</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>{{ judge.surname }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('judge_index') }}">back to list &nbsp;</a>

            <a href="{{ path('judge_edit', {'id': judge.id}) }}">&nbsp; edit</a>

            {{ include('judge/_delete_form.html.twig') }}

        </div>

        <div class="col-sm-12 col-md-2">

            <button type="button" class="toggle-btn">Meniu</button> <br> <br>

            <a href="{{ path('president_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>

        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.very-fast").removeAttr("hidden");
                $("a.very-fast").slideToggle(50);
            });

        });
    </script>

{% endblock %}