{% extends 'base.html.twig' %}

{% block title %}President index{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-10">

                <h1>President index</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <!--<th>Roles</th>
                            <th>Password</th>-->
                            <th>Name</th>
                            <th>Surname</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for president in presidents %}
                        <tr>
                            <td>{{ president.id }}</td>
                            <td>{{ president.email }}</td>
                            <!--<td>{# president.roles ? president.roles|json_encode : '' #}</td>
                            <td>{# president.password #}</td>-->
                            <td>{{ president.name }}</td>
                            <td>{{ president.surname }}</td>
                            <td>
                                <a href="{{ path('president_show', {'id': president.id}) }}">show &nbsp;</a>
                                <a href="{{ path('president_edit', {'id': president.id}) }}">&nbsp; edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('president_new') }}">Create new</a>

            </div>

            <div class="col-sm-12 col-md-2">

                <button type="button" class="toggle-btn">Meniu</button> <br> <br>

                <a href="{{ path('admin_menu',{'id': app.user.id}) }}" class="very-fast m-3" hidden>Prima pagina</a>

            </div>

        </div>
    </div>

{% endblock %}
