{% extends 'base.html.twig' %}

{% block title %}Competitor{% endblock %}

{% block body %}

     {% if app.user %}
         <div class="mb-3">
             You are logged in as {{ app.user.username }}, <a href="{{ path('scrutineer_logoff', {'logoff': app.user.id}) }}">Logout</a>
         </div>
     {% endif %}

<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-10">

            <h1>Competitor</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ competitor.id }}</td>
                    </tr>
                    <tr>
                        <th>Nume1</th>
                        <td>{{ competitor.name1 }}</td>
                    </tr>
                    <tr>
                        <th>Nume2</th>
                        <td>{{ competitor.name2 }}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>{{ competitor.code }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ competitor.email }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('competitor_index') }}">back to list &nbsp;</a>

            <a href="{{ path('competitor_edit', {'id': competitor.id}) }}">&nbsp; edit</a>

            {{ include('competitor/_delete_form.html.twig') }}

        </div>

        <div class="col-sm-12 col-md-2">

            <button type="button" class="toggle-btn">Meniu</button> <br> <br>

            <a href="{{ path('scrutineer_menu') }}" class="very-fast m-3" hidden>Prima pagina</a> <br> <br>
            <a href="{{ path('scrutineer_events',{id: app.user.id})  }}" class="normal m-3" hidden>Evenimente</a> <br> <br>
            <a href="{{ path('scrutineer_set_active_event',{id: app.user.activate}) }}" class="slow m-3" hidden>Meniu Scrutineer</a>

        </div>

    </div>
</div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function(){

            $("a.normal").hide();
            $("a.slow").hide();
            $("a.very-fast").hide();

            // Toggles paragraphs with different speeds
            $(".toggle-btn").click(function(){
                $("a.normal").removeAttr("hidden");
                $("a.slow").removeAttr("hidden");
                $("a.very-fast").removeAttr("hidden");
                $("a.normal").slideToggle();
                $("a.slow").slideToggle("slow");
                $("a.very-fast").slideToggle(50);
            });
        });
    </script>

{% endblock %}